<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-4">Personal budget</h1>
            <a class="btn btn-secondary" href="/signin">
                Let's get started
            </a>
        </div>
    </header>
</main>